*{
    margin: 0px;
    padding: 0px;
    font-family: DIN-Next-LT-Pro,segoe ui,sans-serif;
}

#root{
    height: 100%;
}


/*PRINCIPAL*/
/*PRINCIPAL*/

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header{
    text-transform: uppercase;
    height: 60px;
    background-color: #3e3e3e;
    justify-content: space-around;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

header nav span{
    color: #dfddef;
    font-weight: bold;
}

header nav .menu{
    display: none;
}

header nav .categ{
    height: 0px;
}

header nav .MuiBadge-colorSecondary {
    margin: 0px;
}

header nav .MuiSvgIcon-root:hover{
    color: #ffc81f;
    transition: 1.5s;
}

a:-webkit-any-link{
    text-decoration: none;
}

header nav .selectCat{
    margin: 0px 30px 0px 30px;
}

header nav .selectCat:hover {
    color: #ffc81f;
    transition: 1.5s;
}

.cart{
    width: auto;
}

.title{
    margin: 0px;
    color: #fbc827;
}


/*CONTENEDOR ITEMLIST*/
/*CONTENEDOR ITEMLIST*/
.productContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    min-width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid rgba(62, 65, 65, 0.1);
    border-radius: 4px;
    position: relative;
}

.productContainer:hover{
    box-shadow: 0px 3px 4px rgba(251, 200, 39, 0.5);
    transition: 0.2s;
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.productAmountContainer{
    display: flex;
    align-items: center;
    margin: 20px;
}

.productAmountContainer .MuiSvgIcon-root{
    margin: 0px;
}

.productAmount{
    font-size: 24px;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.info a{
    display: flex;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    background-color: rgb(245, 245, 245);
}

.info a .MuiSvgIcon-root{
    margin-right: 4px;
}

.icon{
    font-size: 12px;
    width: 100px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.productContainer img{
    height: 50%;
}

.MuiBadge-colorSecondary{
    margin-top: 26px;
}

.nameProduct{
    text-transform: uppercase;
   font-weight: bold;
}

.productContainer .MuiSvgIcon-root{
    margin: 0px;
}

.charging{
    font-size: 1em;
}


/*ItemDetail*/
/*ItemDetail*/
/*ItemDetail*/
.detailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.wrapperDetail{
    background-color: white;
    width: 50%;
    margin: 15px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgba(62, 65, 65, 0.2)
}

.imgContainer{
    margin: 10px;
    width: 40%;
}

.infoContainer{
    width: 85%;
    text-align: center;
    margin: 10px;
}

.imageDetail{
    width: 100%;
    object-fit: cover;
    margin: 0px;
}

.titleDetail{
    font-weight: 200;
    font-weight: bold;
    font-size: 1.3em;
}

.desc{
    margin: 20px 0px;
}

.price{
    font-weight: 100;
    font-size: 40px;
}

.responsiveCount{
    display: flex;
}

strong{
    font-size: 1.3em;
    color: rgb(124, 70, 70);
}

/*footer*/
/*footer*/
/*footer*/
footer{
    display: table;
    background-color: #3e3e3e;
    text-align: center;
    height: 6vh;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    position: absolute;

}

footer p{
    padding-top: 15px;
    color: #dfddef;
    font-weight: bold;
}

/*CART*/
/*CART*/
/*CART*/
.maxCart{
    align-items: center;
    padding: 20px;
}

.cartTitle{
    font-weight: 300;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration:overline;
}

.topCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.minCart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.itemCart{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(62, 65, 65, 0.5);
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: white;
}

.detailItem{
  flex: 2;
  display: flex;
}

.imgItem{
  width: 200px;
  margin: 5px;
}

.specsItems{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.qtyItem{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceItem{
  font-size: 20px;
  font-weight: 200;
}

.contFinally{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(62, 65, 65, 0.5);
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
}

.finallyButton{
    border: 1px solid rgb(128, 67, 67);
    background-color: rgb(128, 67, 67);
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #3e3e3e;
    padding: 10px 5px 10px 5px;
}

.finallyButton:hover{
    background-color: #dfddef;
    color: black;
    transition: 0.4s;
}

.contFinally p{
    margin: 10px 0px 10px 0px;
}

.finallyTitle{
    font-weight: bold;
    font-size: 1.1em;
}

.finallyPrice{
    font-weight: bold;
}

.specsItems .cartButton{
    padding: 7px 5px 7px 5px;
    width: 200px;
    border: 1px solid rgb(128, 67, 67);
    background-color: rgb(128, 67, 67);
    color: white;
}

.totalCostItem{
    font-size: 20px;
    font-weight: bold;
}

/*BUTTONS*/
/*BUTTONS*/
.cartButton{ /*specsItems*/
    border-radius: 5px;
    border: 1px solid #3e3e3e;
    padding: 10px 5px 10px 5px;
    color: #fbc827;
    background-color: #3e3e3e;
}

.cartButton:hover{
    background-color: #dfddef;
    color: black;
    transition: 0.4s;
}

.buttonDetail{ /*productDetail*/
    margin-bottom: 20px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(128, 67, 67);
    color: white;
    font-weight: bold;
}

.buttonDetailCount{ /*add to cart*/
    padding: 10px 30px 10px 30px;
}

.swal2-styled.swal2-confirm{
    background-color: #298b16;
    color: white;
}

/*BUTTONS*/
/*BUTTONS*/


/*responsive*/
/*responsive*/
@media (max-width: 600px){
    header nav .selectCat{
        display: none;
    }

    header nav .menu{
        display: block;
        margin-bottom: 10px;
    }

    .itemCart{
        flex-direction: column;
    }

    .imgItem{
        width: 40%;
    }

    .specsItems .cartButton{
        padding: 7px 5px 7px 5px;
        width: 100%;
    }

    .topCart a{
        width: 70%;
    }

    .wrapperDetail{
        width: 95%;
    }

    .wrapperDetail .imgContainer{
        width: 80%;
    }

    .wrapperDetail .infoContainer{
        width: 90%;
    }

    .cartButton{
        margin: 5px;
    }

    .wrapperDetail .buttonDetailCount{
        padding: 10px 4px 10px 4px;
        width: auto;
        width: 50%;
    }

}

@media (max-width: 350px){
    .detailItem{
        flex-direction: column;
        align-items: center;
    }

    .maxCart{
        padding: 0px;
    }
}


@media (max-width: 200px){
    .wrapperDetail{
        width: 100%;
    }

    .productAmountContainer{
        flex-direction: column;
        width: 100%;
    }

    .wrapperDetail .buttonDetailCount{
        padding: 10px 4px 10px 4px;
        width: auto;
        width: 90%;
    }

    .responsiveCount{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }
}